*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #219C90;
}
.navbar{
    background-color: #FFF455;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-decoration: none;    
    padding: 2px 4px;
    line-height: 3em;
}
.logo{
    font-size: 30px;
    font-weight: bolder;
    color: #EE4E4E;
    padding-left: 5px;
}
.list{
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    padding-right: 20px;
}
.list li {
    font-size: 20px;
    
}
li a {
    color: #070707;
    text-decoration: none;
    padding: 8px;
    
}


